[group:tornados]
programs=tornado-0,tornado-1,tornado-2

[program:tornado-0]
command= python3 /home/ubuntu/first/server.py 8021
directory=/home/ubuntu/first
user=ubuntu
autorestart=true
redirect_stderr=true
stdout_logfile=/home/ubuntu/first/log/tornado0.log
loglevel=info
[supervisord]

[program:tornado-1]
command= python3 /home/ubuntu/first/server.py 8022
directory=/home/ubuntu/first
user=ubuntu
autorestart=true
redirect_stderr=true
stdout_logfile=/home/ubuntu/first/log/tornado1.log
loglevel=info
[supervisord]

[program:tornado-2]
command= python3 /home/ubuntu/first/server.py 8023
directory=/home/ubuntu/first
user=ubuntu
autorestart=true
redirect_stderr=true
stdout_logfile=/home/ubuntu/first/log/tornado2.log
loglevel=info
[supervisord]